<h2><u>MyResume</u></h2>
<div class="w3-red">
<h3><u>Contact Information:
  123-456-7891</u></h3>
  </div>
  <p><strong>I am a hard deciated working student, who takes inspiration from others, as well as become dedicated in what I want to achieve. I hope to work alongside my peers, and to learn more about my strengths, and weaknesses as life is a learning process.</strong></p>
  <h4>Education</h4>
  <p><strong> I have just recently graduated from high school, and am now taking college courses on IIT</strong></p>
<p><strong>My name is Jason Sinche and Im 18 years old. I've experienced a variety of part-time jobs that I have grown accustomed to. Furthermore,I have taken a variety of interests over the years and I am capable of being proactive, and managing my time as I continue to find new opportunites, and reasons to strive towards my goal. </strong>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->